## Question 1
#### Consider the following Python module:
#### a = 0
#### def b():
####  global a
####  a = c(a)
#### def c(a):
####  return a + 2
#### After importing the module into the interpreter, you execute:
#### >>> b()
#### >>> b()
#### >>> b()
#### >>> a
#### What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

b()
b()
b()
print(f"Value of a = {a}")

Value of a = 6

After we execute this block of code, a value of 6 is obtained for variable 'a'. in method b(), the variable a is outside is the function scope and is accessed using global keyword. Then, the value of a is assigned to the return value of method c(), which simply adds 2 to the initial value. Hence, when we call b() 3 times 6 is obtained as the final value of a.

## Question 2

### Function fileLength(), given to you, takes the name of a file as input and returns the length of the file: 
fileLength('midterm.py')
284

>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
    fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
### As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

>>> fileLength('midterm.py')
358
    
>>> fileLength('idterm.py')
    
   File idterm.py not found.

In [48]:
def file_length(file_name):
    try:
        file = open(file_name)   
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print(f"File {file_name} not found.")


file_length('idterm.py')

File idterm.py not found.

## Question 3

### Write a class named Marsupial that can be used as shown below:

m = Marsupial()

m.put_in_pouch('doll')

m.put_in_pouch('firetruck')

m.put_in_pouch('kitten')

m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:

#### a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,

#### b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and

#### c. overloads the __str__ operator so it behaves as shown below.

In [2]:
class Marsupial:
    
    def __init__(self):
        self.bag = []
    
    def put_in_pouch(self, item):
        self.bag.append(item)
    
    def pouch_contents(self):
        return self.bag

#Question a
class Kangaroo(Marsupial):
    
    def __init__(self, x, y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
    
    #Question b
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
    #Question c
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x}, {self.y})"

In [24]:
k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')

k.pouch_contents()

I am a Kangaroo located at coordinates (0, 0)

['doll', 'firetruck', 'kitten']

In [25]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

print(k)

I am a Kangaroo located at coordinates (3, 0)

## Question 4

### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛  ,  3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
    
### Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [4]:
def collatz(x):
    n = 0
    count = 0
    
    print(x)
    
    if(x == 1):
        return
    
    if(x%2 == 0):
        collatz(int(x / 2))
        
    else:
        collatz(int(3 * x) + 1)


collatz(10)

10
5
16
8
4
2
1

## Question 5

### Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [26]:
def binary(n):
    
    if(n < 2):
        print(n, end='')
    
    else:
        binary(int(n / 2))
        print(int((n % 2)), end='')      

binary(9)

1001

## Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser.When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

>>infile = open('w3c.html')

>>content = infile.read()

>>infile.close()

>>hp = HeadingParser()

>>hp.feed(content)

W3C Mission 

 Principles

In [11]:
from html.parser import HTMLParser            



class HeadingParser(HTMLParser):        
  

    def __init__(self):                    
        HTMLParser.__init__(self)
        self.indent = 0 
       
    
    def handle_starttag(self, tag, attrs):                             
        if (tag == 'h1' or tag == 'h2' or tag == 'h3' or tag == 'h4' or tag=='h5' or tag == 'h6' or tag == 'h7'):
            self.indent += 1                                     
        else:
            self.indent = 0
         
        
    def handle_data(self, data):
        
        if (self.indent and data!='\n'):
            print(f"{self.indent * ' '}{data}")


            
page = open('w3c.html')     
content = str(page.read())
parser = HeadingParser()                            
parser.feed(content)

 W3C Mission


  Principles

## Question 7

#### Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.


> 
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

#### Refered https://stackoverflow.com/questions/6772003/python-recursive-crawling-for-urls to create the handle_starttag and webdir function

In [88]:
from html.parser import HTMLParser
from urllib.request import urlopen
from urllib.parse import urljoin


class Q7(HTMLParser):
    

    def __init__(self, url):
      
        HTMLParser.__init__(self)
        self.url = url
        self.links = []


    def append(self):
        
        return self.links




    def handle_starttag(self, url_tag, attributes):
        for i in attributes:
            joined = urljoin(self.url, i[1])
            if joined[:4] == 'http': 
                self.links.append(joined)



i = 0
def webdir(url, depth, i):
   
    depth = depth - 1    
    print(i * '  ', url)         
    content = urlopen(url).read().decode()
    collection = Q7(url)
    collection.feed(content)
    urls = collection.append()  
    links = urls
    i += 4

    for item in links:
        
        if (depth < 0 or i < 0):
            return 1
        
        else:
            webdir(item, depth, i)


webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         http://reed.cs.depaul.edu/lperkovic/test3.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html

## Question 8

Write SQL queries on the below database table that return: 

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records.

e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.

In [67]:
%load_ext sql
%sql sqlite://
%sql CREATE TABLE Weather(City varchar(50), Country varchar(50), Season varchar(50),Temperature float, Rainfall float);

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * sqlite://
Done.

[]

In [68]:
%%sql

insert into Weather values('Mumbai','India','Winter','24.8','5.9');  
insert into Weather values('Mumbai','India','Spring','28.4','16.2');
insert into Weather values('Mumbai','India','Summer','27.9','1549.4');
insert into Weather values('Mumbai','India','Fall','27.6','346.0');
insert into Weather values('London','United Kingdom','Winter','4.2','207.7');
insert into Weather values('London','United Kingdom','Spring','8.3','169.6');
insert into Weather values('London','United Kingdom','Summer','15.7','157.0');
insert into Weather values('London','United Kingdom','Fall','10.4','218.5');
insert into Weather VALUES('Cairo','Egypt','Winter','13.6','16.5');
insert into Weather values('Cairo','Egypt','Spring','20.7','6.5');
insert into Weather VALUES('Cairo','Egypt','Summer','27.7','0.1');
insert into Weather values('Cairo','Egypt','Fall','22.2','4.5');

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [69]:
%sql select * from Weather

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

a) All the temperature data.

In [70]:
%sql select temperature from Weather

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

b) All the cities, but without repetition.

In [71]:
%sql select distinct city from Weather

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India.

In [72]:
%sql select * from Weather where Country='India'

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records.

In [73]:
%sql select * from Weather where Season='Fall'

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.

In [74]:
%sql select City, Country, Season from Weather where Rainfall between 200 and 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.

In [75]:
%sql select City, Country from Weather where Season = 'Fall' and Temperature > 20 order by Temperature asc

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

g) The total annual rainfall for Cairo

In [76]:
%sql select sum(Rainfall) as totalRainfall from Weather where City = 'Cairo'

 * sqlite://
Done.

[(27.6,)]

h) The total rainfall for each season.

In [82]:
#Used round function because one of the value looked very big

%sql select Season, round(sum(Rainfall)) as totalRainfall from Weather group by season

 * sqlite://
Done.

[('Fall', 569.0), ('Spring', 192.0), ('Summer', 1707.0), ('Winter', 230.0)]

## Question 9

#### . Suppose list words is defined as follows:

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following 
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']

In [9]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

answer = [ word.upper() for word in words ]
print(answer)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']

In [10]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

answer = [ word for word in words ]
print(answer)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).

In [11]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

answer = [ len(word) for word in words ]
print(answer)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)

In [13]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

answer = [ [word, word.upper(), len(word)] for word in words ]
print(answer)

[['The', 'THE', 3], ['quick', 'QUICK', 5], ['brown', 'BROWN', 5], ['fox', 'FOX', 3], ['jumps', 'JUMPS', 5], ['over', 'OVER', 4], ['the', 'THE', 3], ['lazy', 'LAZY', 4], ['dog', 'DOG', 3]]

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.

In [14]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

answer = [ word for word in words if len(word) >= 4 ]
print(answer)

['quick', 'brown', 'jumps', 'over', 'lazy']